---
import Layout from '../layouts/Layout.astro';
import AnimatedPortal from '../components/AnimatedPortal.astro';
---

<Layout>
  <AnimatedPortal
    starsColor="black"
    starsColorTwo="black"
    starsColorThree="black"
  >
    <main class="about-section">
      <h1>About!</h1>
    </main>
  </AnimatedPortal>
</Layout>

<style>
  .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    width: 100%;
    background-color: white;
    color: black;
  }
</style>
