---
import Layout from '../layouts/Layout.astro';
import Users from '../components/Users.astro';
import AnimatedPortal from '../components/AnimatedPortal.astro';
---

<div class="users-section">
  <AnimatedPortal
    starsColor="orange"
    starsColorTwo="orange"
    starsColorThree="orange"
  >
    <main class="about-section">
      <Users />
    </main>
  </AnimatedPortal>
</div>

<style>
  .users-section {
    width: 100%;
  }
  .about-section {
    padding: 1rem;
    width: 100%;
  }
</style>
