---
import Layout from '../layouts/Layout.astro';
import Users from '../components/Users.astro';
import AnimatedPortal from '../components/AnimatedPortal.astro';
---

<Layout>
  <AnimatedPortal
    starsColor="orange"
    starsColorTwo="orange"
    starsColorThree="orange"
  >
    <main class="about-section">
      <Users />
    </main>
  </AnimatedPortal>
</Layout>
