<nav>
  <div class="left-content">Logo</div>
  <div class="rigth-content">
    <ul class="nav-links">
      <li><a href="/astrotest/" id="home">Home</a></li>
      <li><a href="/astrotest/about" id="about">About</a></li>
      <li><a href="/astrotest/users" id="users">Users</a></li>
    </ul>
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  ul.nav-links {
    display: flex;
    gap: 1rem;
  }
</style>
